body {
  background-color: #282D35;
}

.navIcon {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.navBar {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
  justify-content: space-between;
}

.navBar h4 {
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

}

.navBar h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 22.2535px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #61DAFB;
}

img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
}

.mainComponent {
  padding: 57px 27px;
  color: white;

}

.mainComponent {
  background-image: url(../public/Group.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;

}

.mainComponent h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 47px;
  letter-spacing: -0.05em;
}

ul {
  margin-top: 46px;
  max-width: 320px;
}

li {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-block: 10px;
}

li::marker {
  color: #61DAFB;
  font-size: 1.4em;
}